<form (ngSubmit)="upload()" class="form-signin">

    <div class="container">
        <div class="form-group d-flex justify-content-end">
            <div class="form-check">

                <input class="form-check-input" type="checkbox" value="" id="activityModeCheck">
                <label class="form-check-label" for="activityModeCheck">
                    Activity Mode
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="nameActivity">Activity name </label>
            <input [(ngModel)]="nameActivity" name="nameActivity" id="nameActivity" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="nameActivity">Activity description </label>
            <input [(ngModel)]="descActivity" name="descActivity" id="nameActivity" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="nameActivity">Activity price </label>
            <input [(ngModel)]="priceActivity" name="priceActivity" id="nameActivity" type="number" class="form-control">
        </div>
        <!-- CHOOSE DATE -->
        <div class="form-group">
            <label for="dateActivity">Choose date </label>
            <div class="input-group mb-3">
                <input [(ngModel)]="dateActivity" name="dateActivity" type="datetime" id="dateActivity" class="form-control" #dp="bsDatepicker"
                    bsDatepicker [minDate]="minDate">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">Date</button>
                </div>
            </div>
        </div>


        <!-- image-->
        <div class="form-group">
            <label for="nameImg">Choose poster </label>
            <div class="input-group mb-3">
                <input [(ngModel)]="nameImg" name="nameImg" id="nameImg" type="text" class="form-control input-group-text" disabled="disabled">
                <span class="input-group-btn">
                    <div class=" image-preview-input">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <button class="btn btn-primary">Browse</button>
                        <input class="form-control-file" name="file" type="file" id="file" (change)="onFileChange($event)" accept=".png" #fileInput>
                    </div>
                </span>
            </div>
        </div>
        <br/>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success pull-right">Add activity</button>
        </div>

    </div>

</form>