// #cart-button {
//     width: 60px;
//     height: 30px;
//     margin: 5px;
// }

#cart-icon {
    width: 15px;
    height: 15px;
    transform: translateY(2px);
    fill: white;
    margin-right: 5px;
}

#cart-number {
    margin-left: 5px;
}