img {
   margin: auto;
   margin-top: 2%;
   padding: 10px;
   width: 100%;
}

.comment {
    margin: auto;
    margin-bottom: 0%;
    margin-top: 50px;
    right: -2%; 
}
.buttonUploadSignal{
    margin-left: -35px;
}
.buttonCarousel{
    margin-bottom: 10px;
    margin-left: 10%;
}

:host {
	display: block;
    margin-top:20px;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}