<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/activities">BDE CESI-EXIA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link " href="/activities">Activities<span class="sr-only">(current)</span></a> -->
      <a class="nav-item nav-link" *ngFor="let route of routes" [href]="route.path" [ngClass]="{'active': route.active}">{{route.title}}</a>
    </div>
  </div>

  <div *ngIf="displayLogin; else Cart"></div>
  <ng-template #Cart>
    <button type="button" class="btn btn-primary" id="cart-button">
        <svg-icon src="assets/svg/cart.svg" id="cart-icon" style="width: 25px" href="/cart"></svg-icon> <span class="badge badge-light" id="cart-number">4</span>
    </button>
  </ng-template>  
    
  <div *ngIf="!displayLogin; else Signup"></div>
  <ng-template #Signup><a class="btn btn-sm btn-outline-primary"  id="navbarNavAltMarkupLog" href="/signup">SignUp</a></ng-template>
  
  <button class="btn btn-sm btn-outline-primary" *ngIf="!displayLogin; else Login" id="navbarNavAltMarkupLog" (click)="disconnect()">Logout</button> 
  <ng-template #Login><a class="btn btn-sm btn-outline-primary"  id="navbarNavAltMarkupLog" href="/login">Login</a></ng-template>

</nav>  