
    <div class="row">
      <div class="col-5">
          <form (ngSubmit)="onSubmit()" name="AuthForm" ng-controller="FormController">

            <div class="form-group">
              <label for="email">Email:</label>
              <input [(ngModel)]="email" type="email" ng-model="email" name="email" class="form-control" placeholder="type your email">
            </div>

            <div class="form-group">
              <label for="password">Password:</label>
              <input [(ngModel)]="password" type="password" ng-model="password" name="password" class="form-control" placeholder="type your password">
            </div>

            <button type="submit" class="btn btn-primary">SignIn</button>
          </form>
      </div>
    </div>



