<img class="card-img-top" [src]="article.pictureUrl">
<div class="card-body">
  <h5 class="card-title">{{article.name}}
    <span class="badge badge-pill badge-clickable badge-{{ article.selling ? 'primary' : 'secondary'}}" *ngIf="isLargeMode" (click)="toggleSelling($event)">in sell</span>
  </h5>
  <h6>{{article.price}} €</h6>
  <p class="card-text card-description">{{article.description}}</p>
  <div>
    <button class="btn btn-primary" (click)="buy()">Buy</button>
    <button class="btn btn-primary" (click)="openModal(edit)">Edit</button>
  </div>
</div>

<ng-template #edit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-article-manager [model]="article" [editMode]="true"></app-article-manager>
  </div>
</ng-template>