<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <svg-icon src="assets/svg/arrow-thick-left.svg" class="arrow" style="width: 25px"></svg-icon>
            <img class="img img-rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgHSK3r8RFsNZflELnjPiswfbWmxeERIYFcpnrtjdGriD_Wii3Vw" >
            <svg-icon src="assets/svg/arrow-thick-right.svg" class="arrow" style="width: 25px"></svg-icon>
        </div>      
        <div class="card col-md-6" style="width: 18rem;">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Comment</label>
                    <textarea class="form-control" id="comment" rows="3">Bla bla bla...</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="card-body">
                <h5 class="userName">My Name</h5>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget eros sed ipsum vehicula pharetra.</p>
                <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Signal</button>
                <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">Delete</button>
            </div>
        </div>    
    </div>
</div>
